name: Publish to NPM

on:
  push:
    branches:
      - master
      - next
      - alpha
      - beta
      # N.x (maintenance release branches)
      - '[0-9]+.x'

jobs:
  build:
    name: Build, Verify, and Publish
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [12.x]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Configure Package Manager
        run: |
          echo Configuring NPM_TOKEN globally for .npmrc
          npm config set '//registry.npmjs.org/:_authToken' ${{ secrets.NPM_TOKEN }}
          npm whoami
      - name: Check Environment Info
        run: |
          echo Node Version: `node --version`
          echo NPM Version: `npm --version`
          echo Yarn Version: `yarn --version`
      - name: Get Yarn Cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install Dependencies
        env:
          CI: true
        run: yarn install --frozen-lockfile
      - name: Build
        run: |
          yarn build
      - name: Test
        run: |
          yarn lint
          yarn test
      - name: Check Package Version
        uses: technote-space/package-version-check-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v2
        with:
          semantic_version: ^16.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Archive Workspace on Failure
        if: failure()
        run: zip -r workspace-files ./
      - uses: actions/upload-artifact@master
        if: failure()
        with:
          name: workspace
          path: workspace-files.zip
